<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование профиля</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3"
        th:text="'Редактировать профиль: ' + ${clientForm.getFirstName()}+ ' ' + ${clientForm.getLastName()}">
        Редактировать профиль</h3>
    <form method="POST" class="needs-validation" novalidate style="max-width: 50vw"
          th:action="@{/clients/profile/update}" th:object="${clientForm}">
        <input type="hidden" name="id"
               th:value="${clientForm.getId()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="firstName" th:value="${clientForm.getFirstName()}" type="text" class="form-control"
                           id="firstName" placeholder="Введите имя" required>
                    <label for="firstName">Имя</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="lastName" type="text" th:value="${clientForm.getLastName()}" class="form-control"
                           id="lastName" placeholder="Введите фамилию" required>
                    <label for="lastName">Фамилия</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="midName" th:value="${clientForm.getMidName()}" type="text" class="form-control"
                           id="midName" placeholder="Введите отчество">
                    <label for="midName">Отчество</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="email" th:value="${clientForm.getEmail()}" type="email" class="form-control" id="email"
                           placeholder="Введите email" required>
                    <label for="email">Email</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}">
                        <p th:errors="*{email}"></p>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="phone" type="text" th:value="${clientForm.getPhone()}" class="form-control" id="phone"
                           placeholder="Введите телефон" required>
                    <label for="phone">Телефон</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="birthDate" type="date" th:value="${clientForm.getBirthDate()}" class="form-control"
                           id="birthDate" placeholder="Введите дату рождения" required>
                    <label for="birthDate">Дата рождения</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <textarea name="address" th:value="${clientForm.getAddress()}" th:text="${clientForm.getAddress()}"
                              type="text" class="form-control" id="address" placeholder="Адрес"></textarea>
                    <label for="address">Адрес</label>
                </div>
            </div>
        </div>

        <div class="mt1-l">
            <br>
            <div class="vk">
                <button type="submit" class="btn btn-primary" onclick="validateFormChangePass()">Сохранить</button>
                <button type="button" class="btn btn-primary" onclick="window.history.back()">Назад</button>
            </div>
        </div>

    </form>
</div>
</body>
</html>
