<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
</head>
<body>
<div layout:fragment="content">
    <h1 align="center">Клиенты</h1>
    <div class="row">
        <div class="col">
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Возраст</th>
                <th scope="col">Адрес</th>
                <th scope="col">Полис</th>
                <th scope="col">Телефон</th>
                <th scope="col">Почта</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${clients}">
                <td th:text="${c.getLastName() + ' ' + c.getFirstName() + ' ' + c.getMidName()}"></td>
                <td th:text="${c.getAge()}"></td>
                <td th:text="${c.getAddress()}"></td>
                <td th:text="${c.getPolicy()}"></td>
                <td th:text="${c.getPhone()}"></td>
                <td th:text="${c.getEmail()}"></td>
                <td>
                    <a href="/clients"
                       class="btn btn-success"
                       role="button"
                       style="float: right"
                       aria-disabled="true">Архив</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <nav aria-label="Pagination" th:if="${clients.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${clients.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/clients/list?page={id}(id=${clients.number lt 2 ? 1 : clients.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, clients.totalPages, 1)}"
                th:classappend="${i eq clients.number + 1} ? 'active'">
                <a class="page-link" th:href="@{/clients/list?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${clients.number eq clients.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/clients/list?page={id}(id=${clients.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>