<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>-->
<!--&lt;!&ndash;&#45;&#45;&#45;&#45; Include the above in your HEAD tag &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&ndash;&gt;-->

<!--<!DOCTYPE html>-->
<!--<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      xmlns:th="https://www.thymeleaf.org"-->
<!--      lang="en">-->
<!--<head>-->
<!--    <title>Login Page</title>-->
<!--    &lt;!&ndash;Made with love by Mutiullah Samim &ndash;&gt;-->

<!--    &lt;!&ndash;Bootsrap 4 CDN&ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->

<!--    &lt;!&ndash;Fontawesome CDN&ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">-->

<!--    &lt;!&ndash;Custom styles&ndash;&gt;-->
<!--    <link rel="stylesheet" type="text/css" href="css/login.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container">-->
<!--    <div class="d-flex justify-content-center h-100">-->
<!--        <div class="card">-->
<!--            <div class="card-header">-->
<!--                <h3>Sign In</h3>-->

<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <form method="POST" th:action="@{/login}">-->

<!--                    <div th:if="${param.error}">-->
<!--                        <div class="alert alert-danger">-->
<!--                            <p style="float: none">Неверный логин/пароль</p>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="input-group form-group">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <span class="input-group-text"><i class="fas fa-user"></i></span>-->
<!--                        </div>-->
<!--                        <input type="text" class="form-control" placeholder="username">-->

<!--                    </div>-->
<!--                    <div class="input-group form-group">-->
<!--                        <div class="input-group-prepend">-->
<!--                            <span class="input-group-text"><i class="fas fa-key"></i></span>-->
<!--                        </div>-->
<!--                        <input type="password" class="form-control" placeholder="password">-->
<!--                    </div>-->
<!--                    <div class="row align-items-center remember">-->
<!--                        <input type="checkbox">Remember Me-->
<!--                    </div>-->
<!--                    <div class="form-group">-->
<!--                        <input type="submit" value="Login" class="btn float-right login_btn">-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="card-footer">-->
<!--                <div class="d-flex justify-content-center links">-->
<!--                    Регистрация<a href="/clients/registration">Sign Up</a>-->
<!--                </div>-->
<!--                <div class="d-flex justify-content-center links">-->
<!--                    <a href="/clients/remember-password">Forgot your password?</a>-->
<!--                </div>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->

<!--Страница авторизации-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="https://www.thymeleaf.org"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Вход</title>
</head>
<body>
<div layout:fragment="content" class="container-fluid mt-5">
    <form method="POST" th:action="@{/login}">
        <div th:if="${param.error}">
            <div class="alert alert-danger">
                <p style="float: none">Неверный логин/пароль</p>
            </div>
        </div>
        <div class="form-group col-md-3 offset-md-4 m-auto">
            <p class="h2" style="text-align:center"></p>
        </div>
        <div class="form-group col-md-2 offset-md-4 m-auto">
            <input name="username" type="text" class="form-control" id="exampleInputUsername"
                   placeholder="login"
                   aria-describedby="usernameHelp"/>
            <label for="exampleInputUsername"></label>
            <small id="usernameHelp" class="form-text text-muted">Введите имя пользователя</small>
        </div>
        <div class="form-group col-md-2 offset-md-4 m-auto">
            <input name="password" type="password" class="form-control" id="exampleInputPassword"
                   placeholder="password">
            <label for="exampleInputPassword"></label>
            <small id="passwordHelp" class="form-text text-muted">Введите пароль</small>
        </div>
        <div class="form-group col-md-3 offset-md-4 m-auto">
            <br>
            <button type="submit" class="btn btn-info offset-md-5 no-margin">Войти</button>
            <br><br>
            <div class="mt-1">
                <a class="offset-md-3 text-link" href="/clients/registration">Регистрация</a>
                <a class="offset-md-3 text-link" href="/clients/remember-password">Восстановление пароля</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>