<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои записи</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h3>Мои записи</h3>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Врач</th>
                <th scope="col">Специализация</th>
                <th scope="col">Дата</th>
                <th scope="col">Время</th>
                <th scope="col">Кабинет</th>
                <th scope="col">Статус</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rs: ${registrationsClients}">
                <td th:text="${rs.getDoctorLastName() + ' ' + rs.getDoctorFirstName() + ' ' + rs.getDoctorMidName()}"></td>
                <td th:text="${rs.getSpecialization()}"></td>
                <td th:text="${rs.getDay()}"></td>
                <td th:text="${rs.getSlot()}"></td>
                <td th:text="${rs.getCabinet()}"></td>
                <td th:classappend="${rs.getIsActive() == false} ? 'not-active-reg' : 'active-reg'"
                    th:text="${rs.getIsActive()} == false ? 'Архив' : 'Активная'"></td>
                <td>
                    <a th:if="${rs.getIsActive()}" class="btn btn-sm btn-outline-danger"
                       th:href="'/registrations/client-slots/cancel/' + ${rs.getRegistrationId()}"
                       onclick="return confirm('Вы хотите отменить запись?')">Отменить</a>
                </td>

            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
</div>
</body>
</html>
