<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои записи</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h1>Мои записи</h1>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Посетитель</th>
                <th scope="col">День</th>
                <th scope="col">Время</th>
                <th scope="col">Кабинет</th>
                <th scope="col">Статус</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ds: ${doctorRegistrations}">
                <td th:text="${ds.getClientLastName() + ' ' + ds.getClientFirstName() + ' ' + ds.getClientMidName()}"></td>
                <td th:text="${ds.getDay()}"></td>
                <td th:text="${ds.getSlot()}"></td>
                <td th:text="${ds.getCabinet()}"></td>
                <td th:classappend="${ds.getIsActive() == false} ? 'not-active-reg' : 'active-reg'"
                    th:text="${ds.getIsActive() == false} ? 'Не активна' : 'Активна'"></td>


            </tr>
            </tbody>
        </table>
        <button sec:authorize="isAuthenticated() && (hasRole('ADMIN'))" type="button" class="btn btn-secondary" onclick="window.history.back()">Назад
        </button>
    </div>
    <nav aria-label="Pagination" th:if="${doctorRegistrations.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${doctorRegistrations.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="'/registrations/doctor-slots/'+ (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                   ? ${doctorId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${doctorRegistrations.number lt 2 ? 1 : doctorRegistrations.number}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, doctorRegistrations.totalPages, 1)}"
                th:classappend="${i eq doctorRegistrations.number + 1} ? 'active'">
                <a class="page-link" th:href="'/registrations/doctor-slots/' + (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                   ? ${doctorId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${i}"
                   th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${doctorRegistrations.number eq doctorRegistrations.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="'/registrations/doctor-slots/' + (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                   ? ${doctorId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${doctorRegistrations.number + 2}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>
