<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Добавить расписание</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Добавить расписание</h3>
    <form style="max-width: 50vw" method="POST" th:action="@{/doctorslots/addSchedule}" th:object="${scheduleForm}">
        <div class="mb-3">
            <label for="doctor" class="form-label">Врач</label>
            <select class="form-select" name="doctor" id="doctor">
                <option selected>Выберете врача</option>
                <option th:each="doctor : ${doctors}"
                        th:value="${doctor.getId()}"
                        th:text="${doctor.getFirstName() + ' ' + doctor.getMidName() + ' ' + doctor.getLastName()
                         + ' ' + doctor.getSpecialization().getTitleSpecialization()}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="day" class="form-label">День</label>
            <select class="form-select" name="day" id="day">
                <option selected>Выберете день</option>
                <option th:each="day : ${days}"
                        th:value="${day.getId()}"
                        th:text="${day.getDay()}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="cabinet" class="form-label">Кабинет</label>
            <select class="form-select" name="cabinet" id="cabinet">
                <option selected>Выберете кабинет</option>
                <option th:each="cabinet : ${cabinets}"
                        th:value="${cabinet.getId()}"
                        th:text="${cabinet.getCabinetNumber()}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Добавить</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>
