<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мое расписание</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h3 align="center">Расписание</h3>
        <div class="row">
            <div class="col">
                <div class="form-check form-switch">
                    <input class="form-check-input"
                           th:onclick="'window.location.href=\'/doctorslots/doctor-schedule/' + ${#authentication.getPrincipal().getUserId()} + '\''"
                           type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                    <label class="form-check-label" for="flexSwitchCheckDefault">Показать архив</label>
                </div>
            </div>

            <form method="POST" th:action="'/doctorslots/doctor-schedule/archive/search/' + ${#authentication.getPrincipal().getUserId()}"
                  th:object="${dayForm}">
                <div class="mt-0 row g-2">
                    <div class="col-md">
                        <div class="form-floating">
                            <input name="day" type="date" class="form-control" id="day"
                                   th:min="${days.get(0).getDay()}" th:max="${days.get(days.size() - 1).getDay()}"
                                   placeholder="Дата">
                            <label for="day">Дата</label>
                        </div>
                    </div>
                    <div class="row g-2">
                        <button type="submit" class="btn btn-secondary">Найти</button>
                    </div>
                </div>
            </form>
            <div><br></div>
            <hr class="hr"/>
            <div><br></div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">День</th>
                    <th scope="col">Кабинет</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ds: ${doctorSlots}">
                    <td th:text="${ds.getDay()}"></td>
                    <td th:text="${ds.getCabinet()}"></td>
                    <td>
                        <a class="btn btn-sm btn-info"
                           th:href="'/doctorslots/doctor-schedule/day/' + ${#authentication.getPrincipal().getUserId()} + '/' + ${ds.getDayId()}"
                        >Подробнее</a>
                    </td>
                </tbody>
            </table>
        </div>
        <nav aria-label="Pagination" th:if="${doctorSlots.totalPages gt 0}">
            <ul class="pagination justify-content-center font-weight-bold">
                <li class="page-item" th:classappend="${doctorSlots.number eq 0} ? 'disabled'">
                    <a class="page-link"
                       th:href="'/doctorslots/doctor-schedule/'+ (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                   ? ${doctorId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${doctorSlots.number lt 2 ? 1 : doctorSlots.number}"
                       aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"
                    th:each="i : ${#numbers.sequence(1, doctorSlots.totalPages, 1)}"
                    th:classappend="${i eq doctorSlots.number + 1} ? 'active'">
                    <a class="page-link" th:href="'/doctorslots/doctor-schedule/' + (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                   ? ${doctorId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${i}"
                       th:text="${i}"
                       th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                </li>
                <li class="page-item"
                    th:classappend="${doctorSlots.number eq doctorSlots.totalPages - 1} ? 'disabled'">
                    <a class="page-link"
                       th:href="'/doctorslots/doctor-schedule/' + (${#authentication.getPrincipal().getUsername().equalsIgnoreCase('ADMIN')}
                   ? ${doctorId} : ${#authentication.getPrincipal().getUserId()}) + '?page=' + ${doctorSlots.number + 2}"
                       aria-label="Next" title="Next Page" data-toggle="tooltip">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        </button>
    </div>
