<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Запись</title>
</head>
<body>
<div layout:fragment="content">
<!--    <div>-->
<!--        <hr class="hr"/>-->
<!--        <h3>Поиск книги</h3>-->
<!--        <form method="POST" th:action="@{/books/search}" th:object="${bookSearchForm}">-->
<!--            <div class="mt-0 row g-2">-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <input name="bookTitle" type="text" class="form-control" id="bookTitle" placeholder="Название книги">-->
<!--                        <label for="bookTitle">Название книги</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <input name="authorFio" type="text" class="form-control" id="authorFio" placeholder="ФИО автора">-->
<!--                        <label for="authorFio">Автор</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <select class="form-select" name="genre" id="genre">-->
<!--                            <option selected th:value="null">Выберете жанр из списка</option>-->
<!--                            <option th:each="genre : ${T(com.sber.java15.spring.springprojectlibrary.library.model.Genre).values()}"-->
<!--                                    th:value="${genre}" th:text="${genre.getGenreTextDisplay()}"></option>-->
<!--                        </select>-->
<!--                        <label for="genre">Жанр</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="row g-2">-->
<!--                    <button type="submit" class="btn btn-secondary">Найти книгу</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
    <h3 align="center">Доступно для записи</h3>
    <div><br></div>
    <div class="row">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Специализация</th>
                <th scope="col">Дата</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="ds : ${doctorDays}" >
                <td th:text="${doctors.get(__${ds.getDoctorId() - 1}__).getLastName() + ' '
                              + doctors.get(__${ds.getDoctorId() - 1}__).getFirstName() + ' '
                              + doctors.get(__${ds.getDoctorId() - 1}__).getMidName()}">
                </td>
                <td th:text="${doctors.get(__${ds.getDoctorId() - 1}__).getSpecialization().getTitleSpecialization()}"></td>
                <td th:text="${days.get(__${ds.getDayId() - 1}__).getDay()}"></td>

                <td>
                    <a sec:authorize="hasRole('CLIENT')" class="btn btn-sm btn-outline-success"
                       th:href="'/registrations/slots/'
                       + ${doctors.get(__${ds.getDoctorId() - 1}__).id} + '/' + ${days.get(__${ds.getDayId() - 1}__).id}">Выбрать время</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>