<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3 align="center" th:text="'Расписание на ' + ${day.getDay()}"></h3>
        <div><br></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Статус</th>
                <th scope="col">Информация</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${timeSlots}">
                <td th:text="${t.getSlot()}"></td>
                <td th:classappend="${t.getRegistered() == false} ? 'not-active-reg' : 'active-reg'"
                    th:text="${t.getRegistered()} == false ? 'Свободно' : 'Занято'"></td>
                <td>
                    <a th:if="${t.getRegistered()}" sec:authorize="hasRole('DOCTOR')" class="btn btn-sm btn-outline-success"
                       th:href="'/doctorslots/doctor-schedule/day/slot/' + ${t.getDoctorSlotId()}">Подробнее</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
