<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Расписание</h1>
    <div class="row">
        <div class="col">
            <a href="/doctorslots/deleteSchedule"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Удалить</a>
            <a href="/doctorslots/addSchedule"
               class="btn btn-success"
               role="button"
               style="float: right"
               aria-disabled="true">Добавить</a>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">ФИО</th>
                <th scope="col">Специализация</th>
                <th scope="col">День</th>
                <th scope="col">Время</th>
                <th scope="col">Кабинет</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="d : ${doctorslots}">
                <td th:text="${d.getDoctor().getLastName() + ' ' + d.getDoctor().getFirstName() + ' ' + d.getDoctor().getMidName()}"></td>
                <td th:text="${d.getDoctor().getSpecialization().getTitleSpecialization()}"></td>
                <td th:text="${d.getDay().getDay()}"></td>
                <td th:text="${d.getSlot().getTimeSlot()}"></td>
                <td th:text="${d.getCabinet().getCabinetNumber()}"></td>
                <td th:classappend="${d.getIsRegistered() == false} ? 'not-active-reg' : 'active-reg'"
                    th:text="${d.getIsRegistered()} == false ? 'Свободно' : 'Занято'"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>