<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3 th:text="'Расписание на ' + ${day.getDay()}"></h3>
        <h3 sec:authorize="hasRole('ADMIN')"
            th:text="'Врач: ' + ${doctor.getLastName()} + ' ' + ${doctor.getFirstName()} + ' ' + ${doctor.getMidName()}"></h3>
        <h3 th:text="'Кабинет ' + ${cabinet}"></h3>
        <hr class="hr"/>
        <div><br></div>
        <table class="table table-bordered mt-3">
            <thead>
            <tr>
                <th scope="col">Время</th>
                <th scope="col">Статус</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="t : ${timeSlots}">
                <td th:text="${t.getSlot()}"></td>
                <td th:classappend="${t.getRegistered() == false} ? 'active-reg' : 'not-active-reg'"
                    th:text="${t.getRegistered()} == false ? 'Свободно' : 'Занято'"></td>
                <td>
                    <a th:if="${t.getRegistered()}" class="btn btn-sm btn-outline-success"
                       th:href="'/doctorslots/doctor-schedule/day/slot/' + ${t.getDoctorSlotId()}">Посетитель</a>
                    <a th:if="${t.getRegistered() && registration != null}" class="btn btn-sm btn-outline-danger"
                       th:href="'/registrations/client-slots/cancel/ds/' + ${t.getDoctorSlotId()}"
                       onclick="return confirm('Вы хотите отменить запись?')">Отменить</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
